* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-primary {
    color: #fff;
}

.text-secondary {
    color: #fff;
}

.bg-primary {
    background-color: #121212;
}

.bg-secondary {
    background-color: #212121;
}

.primary {
    background-color: #bb86fc;
}

.secondary,
.btn {
    background-color: #03dac6;
}



h1 {
    text-align: center;
}

div.game {
    margin: auto;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    max-width: 600px;
}

.game > .square {
    border: 1px solid #03dac6;
    font-size: 10em;
    text-align: center;
}

.form-wrapper {
    flex: 1;
    align-items: center;
    display: grid;
    height: 100%;
    justify-items: center;
    width: 100%;
}
.form-wrapper > form {
    border-radius: 8px;
    color: #fff;
    margin: 32px auto;
    max-width: 450px;
    padding: 32px;
    text-align: center;
}
.form-wrapper > form > .form-title {
    font-size: 1.4em;
}
.form-wrapper > form > .field input {
    margin: 16px;
    height: 64px;
    width: 80%;
    border: none;
    text-align: center;
    border-radius: 32px;
    color: #000;
    padding: 8px;
    font-size: 32px;
}
.btn {
    border: none;
    border-radius: 16px;
    color: #000;
    font-weight: bold;
    height: 32px;
    margin-top: 8px;
    width: 50%;
}

.modal {
    color: #fff;
    width: 100%;
    height: 100%;
    /* display: none; */
    position: fixed;
    text-align: center;
    padding-top: 40%;
    z-index: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: #323232ee;
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
}

.modal > .btn {
    height: 48px;
    width: 25%;
}

.modal > p {
    font-size: 2em;
    font-weight: bold;
}